<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>New Movie</h3>
    </div>
    <div class="card-body">
      <form action="/movies/new-movie" method="POST">
        <div class="form-group">
          <input type="text" name="title" class="form-control" placeholder="Title" autofocus/>
        </div>
        <div class="form-group">
          <input type="text" name="genre" class="form-control" placeholder="Genre" />
        </div>
        <div class="form-group">
          <input type="text" name="score" class="form-control" placeholder="Score" />
        </div>
        <div class="form-group">
          <input type="text" name="year" class="form-control" placeholder="Year" />
        </div>
        
        <div class="form-group">
          <button class="btn btn-secondary btn-block" type="submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>