<div class="jumbotron mt-4">
  <h1 class="display-4">CRUD NODE.JS MONGODB</h1>
  <p class="lead">CRUD made with node, express and MongoDB</p>
  <hr class="my-4">
  <a href="#" class="btn btn-primary btn-lg">CRUD</a>
</div>